<% layout("base") -%>


<div id="workspace">
    <div id="infos">
        <div id="map-name">
            <input type="text" id="map-name-input" class="form-control" value="<%= map.name %>" />
        </div>
        <div id="return">
            <a href="/"><img id="return-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Close.svg/2000px-VisualEditor_-_Icon_-_Close.svg.png" /></a>
        </div>
        <div id="save">
            <a href="/view_result/<%= map._id %>" target="_blank"><img id="save-img" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/save.png" /></a>    
        </div>
    </div>
    
    <div id="map">
    </div>

    <div id="geoloc" class="row">
        <input type="text" size="70" class="form-control" placeholder="Find map base" id="geoloc_base" <% if (map.base_name){ %>value="<%= map.base_name %>"<% } %> />
    </div>


    <div id="search-div">
        <input type="text" class="form-control" placeholder="Search for new markers..." id="search" />
        <div id="place-content">
            <input class="form-control" type="text" placeholder="Title" id="place-title" />
            
            <fieldset>
                <select class="form-control" name="categorie" id="place-category">
                    <% for(var i=0;i<categories.length;i++){ %>
                        <option value="<%= categories[i].id %>" data-class="<%= categories[i].name %>"><%= categories[i].name %></option>
                    <% } %>
                </select>
            </fieldset>
            
            
            <input class="form-control" type="text" placeholder="Subtitle" id="place-subtitle" />
            <input class="form-control" type="text" placeholder="Image link" id="place-image" />
            <input class="form-control" type="text" placeholder="Article link" id="place-article" />
            <textarea class="form-control" cols=50 rows=10 placeholder="Description" id="place-description"></textarea>
            <button id="add-marker" class="btn btn-primary">Add Marker...</button>
        </div>
    </div>
    
    <div id="style-editor">
        <div id="style-div">
            <textarea id="style-edit" class="form-control" placeholder="Edit map style"><% if (map.style) {%><%- map.style %><% } %></textarea>
        </div>
    </div>
    
    <div id="markers">
        <h4>Markers</h4>
    </div>
        
</div>
<script type="text/javascript" src="/js/app.map_functions.js"></script>
<script type="text/javascript">
    /*
     *  Listeners and functions
     */
    
    $("#style-edit").bind('input propertychange', function() {
        var sendInfo = {
            style: $("#style-edit").val()
        };
        $.ajax({
           type: "POST",
           url: "/edit_map/<%= map.id %>",
           dataType: "json",
           success: function (msg) {
                // nothing to do
           },
           error: function(msg){
               alert(JSON.stringify(msg));
           },
           data: sendInfo
        });
    });
    
    $("#map-name-input").bind("change paste keyup", function() {
        var sendInfo = {
            name: $(this).val()
        };
        $.ajax({
           type: "POST",
           url: "/edit_map/<%= map.id %>",
           dataType: "json",
           success: function (msg) {
                // nothing to do
           },
           error: function(msg){
               alert(JSON.stringify(msg));
           },
           data: sendInfo
        });
        
    });
    
    function deleteMarker(id){
        $.ajax({
           type: "GET",
           url: "/edit_map/<%= map.id %>/delete_marker/"+id,
           success: function (data) {
                var toDelete;
                for(var i=0; i< markers_pointers.length; i++){
                    if (markers_pointers[i].id == id)
                        toDelete = markers_pointers[i].marker;
                };
                removeFromMap(toDelete);
                $("#marker-vignette-"+id).remove();
           },
           error: function(msg){
               alert(JSON.stringify(msg));
           }
        });
    }

</script>

<script type="text/javascript">
    /*
     *  Variable definitions
     */
    var map ;
    var markers_pointers = new Array();
    var categories = <%- JSON.stringify(categories) %>
    var base_geoloc = <% if (map.base_geoloc){ %><%- map.base_geoloc %><% } else { %>{lat: 48.8534100, lng: 2.3348000}<% } %>;
    var zoom = <% if (map.zoom){ %><%= map.zoom %><% }else { %>10<% } %>;
    var styles <% if (map.style) {%>= <%- map.style %><% } %>;
    var styledMap;
    var infoWindows = new Array();

    function initMap() {
        
        styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});
        var mapOptions = {
            zoom: zoom,
            center: base_geoloc,
            mapTypeControlOptions: {
	            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };

        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        map.addListener('zoom_changed', function(){
            zoom = map.getZoom();
            var sendInfo = {
                zoom: zoom  
            };
            $.ajax({
               type: "POST",
               url: "/edit_map/<%= map.id %>",
               dataType: "json",
               success: function (msg) {
                   // nothing to do
               },
               error: function(msg){
                   alert(JSON.stringify(msg));
               },
               data: sendInfo
            });
        });
        
        map.addListener('dragend', function(){
            var center = map.center;
            var sendInfo = {
                base_geoloc: JSON.stringify(center)  
            };
            $.ajax({
               type: "POST",
               url: "/edit_map/<%= map.id %>",
               dataType: "json",
               success: function (msg) {
                   //
               },
               error: function(msg){
                   alert(JSON.stringify(msg));
               },
               data: sendInfo
            });
        });
        
        map.addListener('click', function(){
            closeAllInfoWindows();
        });
        
        var options = {
            //types: ['establishment']
        }
                
        autocomplete1 = new google.maps.places.Autocomplete(document.getElementById('geoloc_base'),options);
        autocomplete1.addListener('place_changed', function (){
            var place = autocomplete1.getPlace();
            var sendInfo = {
                base_name: place.name,
                base_geoloc: JSON.stringify(place.geometry.location)
            };
            $.ajax({
               type: "POST",
               url: "/edit_map/<%= map.id %>",
               dataType: "json",
               success: function (msg) {
                   map.panTo(place.geometry.location);
               },
               error: function(msg){
                   alert(JSON.stringify(msg));
               },
               data: sendInfo
            });
        });
        
        var autocomplete2 = new google.maps.places.Autocomplete(document.getElementById('search'), options);
        autocomplete2.addListener('place_changed', function (){
            var div = $("#place-content");
            var place = autocomplete2.getPlace();
            div.show();
        });
        
        $("#add-marker").click(function(){
            var sendInfo = {
                title: $("#place-title").val(),
                subtitle: $("#place-subtitle").val(),
                position: JSON.stringify(autocomplete2.getPlace().geometry.location),
                image: $("#place-image").val(),
                lien: $("#place-article").val(),
                description: $("#place-description").val(),
                category: $("#place-category").val()                    
            };
            $.ajax({
               type: "POST",
               url: "/edit_map/<%= map.id %>/add_marker",
               dataType: "json",
               success: function (res) {
                    addMarker(res.marker,res.category);
                    $("#place-content").hide();
                    $("#place-title").val("");
                    $("#place-subtitle").val("");
                    $("#place-image").val("");
                    $("#place-article").val("");
                    $("#place-description").val("");
               },
               error: function(msg){
                   alert(JSON.stringify(msg));
               },
               data: sendInfo
            });
        });
                                
        addAllMarkers(categories);         
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= settings.MAPS_API_KEY %>&libraries=places&callback=initMap"
    async defer></script>
